@model ProTherm.Protherm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Protherm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MolecularWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MolecularWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PirId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PirId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwissProtId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwissProtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EcNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EcNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PmdNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PmdNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WtPdb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WtPdb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutPdb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutPdb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WtPdbUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WtPdbUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MutPdbUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MutPdbUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mutation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mutation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DGH2o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DGH2o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DdGH2o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DdGH2o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DdG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DdG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DTM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DTM)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EntryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
