@model ApptTracker.Models.CreateAppt

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CreateAppt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apptdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apptdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appttime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appttime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apptlength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apptlength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reason)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
