@*<!--@model MutantsListViewModel

<h4>Search ProTherm Database</h4>
<div>
    <div>
        <input type="text" placeholder="Keywords" />
    </div>

    <form>
        <label><b>Protein Size</b></label>

        <div>
            <label for="ProteinMinLen">Min Length</label>
            <select id="ProteinMinLen" name="ProteinMinLen">
                <option value="nomin"> No Min </option>
                <option value="20"> 20 </option>
                <option value="60"> 60 </option>
                <option value="100"> 100 </option>
                <option value="150"> 150 </option>
                <option value="300"> 300 </option>
                <option value="500"> 500 </option>
                <option value="1000"> 1000 </option>
                <option value="3000"> 3000 </option>
                <option value="5000"> 5000 </option>
                <option value="10000"> 10000 </option>
            </select>

            <label for="ProteinMaxLen">Max Length</label>
            <select id="ProteinMaxLen" name="ProteinMaxLen">
                <option value="nomax"> No Max </option>
                <option value="20"> 20 </option>
                <option value="60"> 60 </option>
                <option value="100"> 100 </option>
                <option value="150"> 150 </option>
                <option value="300"> 300 </option>
                <option value="500"> 500 </option>
                <option value="1000"> 1000 </option>
                <option value="3000"> 3000 </option>
                <option value="5000"> 5000 </option>
                <option value="10000"> 10000 </option>
            </select>
        </div>

        <label><b>Mutation</b></label>
        <div>
            <label for="MutAA">Mutant AA</label>
            <select id="MutAA" name="MutAA">
                <option value="any"> Any </option>
                <option value="A"> A </option>
                <option value="C"> C </option>
                <option value="D"> D </option>
                <option value="E"> E </option>
                <option value="F"> F </option>
                <option value="G"> G </option>
                <option value="H"> H </option>
                <option value="I"> I </option>
                <option value="K"> K </option>
                <option value="L"> L </option>
                <option value="M"> M </option>
                <option value="N"> N </option>
                <option value="P"> P </option>
                <option value="Q"> Q </option>
                <option value="R"> R </option>
                <option value="S"> S </option>
                <option value="T"> T </option>
                <option value="V"> V </option>
                <option value="W"> W </option>
                <option value="Y"> Y </option>
            </select>

            <label for="WTAA">Wild Type AA</label>
            <select id="WTAA" name="WTAA">
                <option value="any"> Any </option>
                <option value="A"> A </option>
                <option value="C"> C </option>
                <option value="D"> D </option>
                <option value="E"> E </option>
                <option value="F"> F </option>
                <option value="G"> G </option>
                <option value="H"> H </option>
                <option value="I"> I </option>
                <option value="K"> K </option>
                <option value="L"> L </option>
                <option value="M"> M </option>
                <option value="N"> N </option>
                <option value="P"> P </option>
                <option value="Q"> Q </option>
                <option value="R"> R </option>
                <option value="S"> S </option>
                <option value="T"> T </option>
                <option value="V"> V </option>
                <option value="W"> W </option>
                <option value="Y"> Y </option>
            </select>
        </div>
    </form>
    <button type="submit">Search</button>
</div>

@foreach (var m in Model.Mutants)
{
    <div class="card card-outline-primary m-1 p-1">
        <h3>@m.ProteinName</h3>
        <a href=@m.WT_PDB_URL target="_blank" rel="noopener noreferrer"> @m.WT_PDB </a>
        Size: @m.Length <br />
        Chain: @m.Chain <br />
        Mutation: @m.Mutation <br />
        &Delta;&Delta;G: @m.ddG_H2O <br />
    </div>
}-->

<!-- Page numbers -->
<!--<div page-model="@Model.PagingInfo" page-action="Search" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group" pull-right m-1">
</div>-->
*@